.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .imageContainer {
        flex: 1;
        height: 50%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
          font-size: 72px;
        }

        p {
          color: gray;
          font-size: 20px;
        }

        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          font-weight: 700;
          cursor: pointer;
        }
        button:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
